body {
  margin-left: 140px;
}

.pr4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .ex1 {
    .task1 {
      span {
        font-size: 30px;
      }

      .top {
        vertical-align: sub;
      }
    }
    .task2{
      font-size: 30px;
    }
  }

  .ex2 {
    .task1 {
      img {
        box-shadow: 0 0 10px 10px #616161;
      }
    }

    .task2 {
      img {
        margin-top: 40px;
        border-radius: 45px;
        box-shadow: -18px 0 20px -20px red,
        18px 0 20px -20px yellow,
        0 18px 20px -20px blue,
          0 -18px 20px -20px green;
        transition: box-shadow .15s linear;

        &:hover {
          box-shadow: -18px 0 20px -20px yellow,
          18px 0 20px -20px blue,
          0 18px 20px -20px green,
            0 -18px 20px -20px red;
        }
      }
    }

    .task3 {
      p {
        margin-top: 40px;
        padding: 20px;
        width: 400px;
        color: #f4f4f4;
        font-size: 24px;
        background: #ffad00;
        border-radius: 10px;
        box-shadow: 0 0 10px 5px #a4a4a4 inset;
      }
    }

    .task4 {
      .card {
        &:after {
          content: '\2660' '\2663' '\2665' '\2666';
        }
      }

      .greek {
        &:after {
          content: '\3B1' '\3B2' '\3B3' '\3B4' '\3B5';
        }
      }

      .money {
        &:after {
          content: '\A2' '\A3' '\A5';
        }
      }

      .mark {
        &:after {
          content: '\AE' '\A9';
        }
      }

      .divide {
        &:after {
          content: '\BC' ' ' '\BD' ' ' '\BE';
        }
      }

      .text {
        &:after {
          content: '\B6' '\A7' '\2013' '  ' '\2014';
        }
      }

      .helpful {
        &:after {
          content: '\2620' '\262A' '\2706' '\262D' '\260E';
        }
      }
    }

    .task5 {
      .chess-board {
        border-spacing: 0;
        border-collapse: collapse;
        margin-top: 40px;
        background: #c09c67;

        th {
          padding: .5em;
        }

        td {
          border: 1px solid;
          width: 2em;
          height: 2em;
        }

        .light {
          background: #f4f4f4;
        }

        .dark {
          background: #151515;
        }
      }
    }

    .task6 {
      .box {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 40px;
        text-align: center;
        position: relative;
        overflow: hidden;
        background: #b8f3c8;

        .box-inner {
          position: absolute;
          top: 30px;
          left: 30px;
          right: 30px;
          bottom: 30px;
          z-index: 5;
          border-radius: 50%;
          background: #d1ffde;
        }

        span {
          display: block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          font-size: 45px;
          color: #414141;
          z-index: 10;
        }

        &:before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transform: rotate(-44deg);
          clip: rect(0 200px 100px 0);
          background: #45c78b;
        }

        &:after {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          clip: rect(0 100px 200px 0);
          transform: rotate(-44deg);
          background: #45c78b;

        }
      }
    }

    .task7 {
      margin-top: 40px;
      width: fit-content;
      padding: 40px;
      border-radius: 10px;
      background: #f4f4f4;

      p {
        font-family: sans-serif;
        font-size: 18px;
      }

      input {
        border: none;
        font-size: 16px;
        height: 30px;
        background: #eaeaea;
        margin-left: 10px;
        border-radius: 5px;

        &:valid + span:after {
          content: url(../../img/check.svg);
        }

        &:invalid + span:after {
          content: url(../../img/star.svg);
        }
      }

      span {
        margin-left: 10px;
      }

      button {
        margin-top: 20px;
        padding: 20px 30px;
        border: none;
        background: #45c78b;
        color: #f4f4f4;
        border-radius: 5px;
        font-size: 19px;
        transition: background .15s linear;

        &:hover {
          background: darken(#45c78b, 5%);
        }
      }
    }
  }

  .task8 {
    .square {
      width: 25vw;
      height: 25vw;
      background: #45c78b;
      border: solid #09b368;
      text-align: center;
      border-radius: 1em;
      padding: 1em;
      margin-right: -50%;
      margin-top: 40px;

      .content {
        position: relative;
        top: 50%;
        text-transform: uppercase;
        color: white;
        font-family: sans-serif;
        font-size: 2vw;
      }
    }
  }

  .task9 {
    ul {
      font-size: 18px;
      font-family: sans-serif;
      list-style-type: none;

      li {
        margin-bottom: 10px;

        input {
          &:checked + span {
            background: yellow;
          }
        }
      }
    }
  }
}

